*{
    font-family: monospace;

}
body{
    margin: 0;
    background-color: #f0f8ff;
}
header{
    height: 100vh;
    color: white;
    background-color: #2196f3;
}
h1{
    color: #2196f3;
    font-size: 50px;

}
header h1{
    margin: 0;
    color: white;
    text-align: center;
}
.button{
    height: 30px;
    width: 130px;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    background-color: white;
    
    
}
.button:hover{
    color: white;
    background-color: aqua;
}
img{
    height: 200px;

}
main{
    padding: 20px;
}
section{
    height: 100vh;
    border: 1px solid grey;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 20px;
}
.submit{
    height: 30px;
    width: 130px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
    

}
.submit:hover{

    background-color: #0974cc;
}
.reset{
    height: 30px;
    width: 130px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
    

}
.reset:hover:hover{

    background-color: #0974cc;
}
input{
    border-radius: 5px;
    border: 1px solid grey;
    height: 25px;
}
.top{
    position: fixed;
    bottom: 10px;
    right: 0;
    border-radius: 50px;
    height: 70px;
    width: 70px;
    border: 1px solid black;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
}
footer{
    height: 100px;
    background-color: black;
    color: white;
}
